
.dgicon-tools:before { content: '\e801'; } /* '' */
.dgicon-home:before { content: '\e804'; } /* '' */
.dgicon-vcard:before { content: '\e800'; } /* '' */
.dgicon-window:before { content: '\e802'; } /* '' */
.dgicon-users:before { content: '\e805'; } /* '' */